.cart-section {
    padding: 150px 30px 30px;
    background-color: #f7f7f7;
    height: 100%;

    .cart-tab {
        display: flex;
        gap: 40px;
        list-style-type: none;
        font-family: Poppins;

        li {
            font-size: 17px;
            font-weight: 300;
            cursor: pointer;
            color: #979797;
        }

        .active {
            color: #000;
            font-weight: 500;
            border-bottom: 2px solid #000;
        }
    }

    .cart-items-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 30px;
        gap: 30px;
        height: 100%;

        .empty-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            height: 100%;
            img {
                width: 100px;
                height: 100px;
            }
            h1{
                font-family: Poppins;
                font-size: 22px;
                font-weight: 600;
                text-align: center;
            }

        }
    }

    .price-section {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10%;
    }
}