.split-section {
    display: flex;
    flex-direction: row;

    .left-section {
        width: 90%;
        display: flex;
        justify-content: center;
        // flex: 3;
        // padding: 0 20px;
        // width: 100%;
        // display: flex;
    }

    .right-section {
        // flex: 1;
        background-color: antiquewhite;
    }
}