.reserve {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/restaurant-bg.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-y: scroll;

    .reserve-container {
        margin: 130px auto 0;
        width: 35vw;
        height: 85vh;
        min-height: 750px;
        background-color: #0A0A0AB2;
        padding: 85px;
    }

}