.reserve {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/restaurant-bg.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-y: scroll;

    .reserve-form {
        margin: 130px auto 0;
        width: 35vw;
        height: 80vh;
        min-height: 750px;
        background-color: #0A0A0AB2;
        padding: 85px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .split-container {
            width: 100%;
            display: flex;
            gap: 20px;

            .splits {
                width: 50%;
            }
        }
    }
}