.styled-btn {
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(238, 154, 28), #a48831);
}

.lg-btn {
    padding: 20px 0;
    font-size: 24px;
    color: #fff;
    font-weight: 500;

}