@mixin styled-btn {
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

.lg-btn {
    @include styled-btn;
    background-image: linear-gradient(to right, rgb(238, 154, 28), #a48831);
    padding: 20px 35px;
    font-size: 24px;
}

.sm-btn {
    @include styled-btn;
    background-color: rgba(191, 40, 40, );
    padding: 16px 28px;
    font-size: 20px;
}