.styled-button {
    border: none;
    background-color: #000;
    cursor: pointer;
    font-family: Poppins;
}

.large-btn {
    padding: 8px 24px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    border-bottom-right-radius: 5px;

}

.small-btn {}