.restaurant {
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    position: relative;

    .res-card-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -40%);
        margin-inline: auto;
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 5rem;
        padding-bottom: 5rem;
        filter: brightness(100%);

    }
}