.blogDetails {
    flex: 0 1 49%;
    height: 100%;
    padding: 60px;
    position: relative;
    overflow: scroll;

    .blogImage {
        width: 100%;
        height: 430px;
        object-fit: cover;
        border-radius: 15px;
        padding-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        gap: 15px;

        .blogTitle {
            font-size: 28px;
            font-family: 'Roboto Slab', serif;
            font-weight: 500;
            color: inherit
        }

        .blogContent {
            font-size: 16px;
            font-family: 'Roboto Slab', sans-serif;
            font-weight: 300;
            height: 330px;
            line-height: 28px;
            color: inherit;

        }

        .button {
            align-self: flex-end;
            width: 130px;
            height: 40px;
            border-radius: 25px;
            font-size: 12.5px;
            font-weight: 600;
            font-family: 'Roboto Slab', sans-serif;
        }
    }

    .buttonsContainer {
        align-self: flex-end;
        display: flex;
        justify-content: space-between;
        width: 280px;

    }

    .purpleBg {
        background-color: #a75ab2;
        color: #fff;
    }

    .blueBg {
        background-color: #90f4f4;
        color: #000;
    }
}

.light {
    background-color: #fff;

    form {
        color: #000
    }

}

.dark {
    background-color: #0a1c2d;

    form {
        color: #fff
    }
}