.member {
    width: 30.5%;
    font-family: 'IBM Plex Sans';

    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 15px 15px 15px 0;
    }

    h1 {
        font-size: 15px;
        font-family: inherit;
        font-weight: 500;
        margin: 3px 0;
    }

    h2 {
        font-family: inherit;
        font-weight: 400;
        font-size: 14px;

    }
}

.light {
    h1 {
        color: #a75ab2;
    }

    h2 {
        color: #000
    }
}

.dark {
    h1 {
        color: #fff;
    }

    h2 {
        color: #a4a4a4;
    }
}