.checkBoxWrapper {
    input {
        margin-right: 15px;

    }

    label {
        font-size: 15px;
        font-family: 'Roboto Slab';
        font-weight: 400;
    }

}

.light {
    color: #000
}

.dark {
    color: #fff;
}