.teaser-card {
    width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .video-section {
        position: relative;
        width: 100%;
        height: 280px;
        display: flex;

        .pl-ps-logo {
            width: 60px;
            height: 60px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .ad-poster{
            position: absolute;
            width: 100%;
            height: 100%;

            img{
                width: 100%;
                height: 100%;
            }

        }
    }

    h1 {
        font-size: 24px;
        font-weight: 400;
    }

    .timer {
        font-size: 18px;
        color: #5c8edc;
    }
}