.navbar {
    width: 100%;
    padding: 20px 45px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    position: fixed;
    z-index: 10;

    img {
        // width: 12%;
        width: 200px;
        height: 100%;
    }




    .menus {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px
    }

    .session {
        display: flex;

        .user-info {
            font-size: 22px;
            font-weight: 300;
            color: #fff;
        }

    }

    a {
        color: #fff;
    }

    .active {
        color: #5c8edc
    }
}