.movies-desc-container {
    width: 100%;
    font-family: Roboto;
    color: #fff;
    padding-bottom: 20px;



    .title {
        display: flex;
        justify-content: space-between;

        h1 {
            font-size: 40px;
            font-weight: 400;
        }

        .thumbs-up {
            border: 1px solid #fff;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            padding-top: 13px;
            cursor: pointer;
        }
    }

    .likes-txt {
        font-size: 20px;
        color: orange;
        font-weight: 400;
        padding: 15px 0 20px;
    }

    .movie-img {
        width: 30%;
        height: 35%;
    }

    .movie-desc {
        font-size: 16px;
        font-weight: 300px;
        padding: 20px 0 30px;
        line-height: 25px;
    }

    .actors-section {
        h1 {
            font-size: 20px;
            font-weight: 400;
            padding-bottom: 30px;
        }

        .actor-txt {
            font-weight: 400;
            font-size: 16px;
            display: block;
            padding: 4px 0;
        }
    }
}