.all-movies-page {
    width: 100vw;
    height: 100vh;
    background-color: #151515;
    padding-top: 70px;

    .all-movies-heading {
        font-size: 38px;
        color: #fff;
        font-family: Roboto;
        font-weight: 400;
        padding: 60px 0 50px 5%;

    }

    .movie-and-desc {
        display: flex;
    }
}

.loader-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #151515;
}