.all-movies-page {
    width: 100vw;
    height: auto;
    background-color: #151515;
    padding: 0 5% 5%;

    .all-movies-heading {
        font-size: 38px;
        color: #fff;
        font-family: Roboto;
        font-weight: 400;
        padding: 60px 0 50px;

    }

    .movie-and-desc {
        display: flex;
    }
}