.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 300px;
    padding: 0 50px;
    font-family: Poppins;
    z-index: 10;
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;

    h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .menu {
        display: flex;
        flex-basis: 350px;
        justify-content: space-between;
        font-weight: 500;

        li {
            padding: 32px 0 14px;
            border-bottom: 9px solid #fff;
            list-style-type: none;
            cursor: pointer;
        }

        .category-active {
            border-bottom: 9px solid #000;
        }
    }

    .user-profile {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        gap: 10px;

        p {
            flex-shrink: 60px;
        }

        img {
            width: 7px;
            height: 7px;
            margin-top: 2px;
        }
    }

    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: inherit;
    }
}