.footer {
    width: 100vw;
    background-color: #e1e1e1;
    padding: 10px 10%;
    margin-top: 50px;

    p {
        font-size: 18px;
        font-weight: 400;
        font-family: Poppins;
    }
}