 .movie-section {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 0 5% 3%;
     width: 60%;
     height: calc(100vh - 155px);
     height: 750px;
     overflow-y: scroll;


     .movie-container {
         display: flex;
         flex-wrap: wrap;
         padding-bottom: 50px;
         gap: 40px;
         width: 100%;
     }

 }

 .movie-section::-webkit-scrollbar {
     display: none;
 }