.sideBar {
    flex: 0 1 16%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3%;
    position: relative;

    .heading {
        display: flex;
        gap: 10px;

        span {
            font-family: 'Roboto Slab';
            font-size: 28px;
            font-weight: 400;
        }
    }

    .actions {
        align-self: self-end;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            cursor: pointer;
            font-family: 'IBM Plex Sans';
            font-size: 15px;
            font-weight: 500;
        }
    }

    .members {
        position: fixed;
        width: 600px;
        height: 100%;
        top: 0;
        right: 0;
    }
}

.light {
    // background-color: #fff;
    background-color: aquamarine;

    .heading {
        span:first-child {
            color: #a75ab2;
        }

        span:last-child {
            font-weight: 500;
        }
    }

    .members {
        // background-color: #fff;
        background-color: #a75ab2;

    }
}

.dark {
    background-color: #fff;

    .heading {
        span {
            color: #fff;
        }
    }

    .members {
        background-color: #000;
    }
}