.res-card {
    width: 360px;
    height: 330px;
    min-width: 360px;
    min-height: 330px;
    position: relative;
    overflow: hidden;
    transition: transform 250ms ease-in;

    &:hover>.info {
        transition: height 250ms ease-in-out;
        height: 145px;
    }

    &:hover {
        transform: scale(1.1);
        transition: transform 250ms ease-in;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 15px;
    }

    .info {
        width: 100%;
        height: 98px;
        transition: height 250ms ease-in-out;
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-family: Inter;
        color: #fff;
        background-color: #00000080;
        padding: 15px 20px;
        border-radius: 0 0 15px 15px;


        .info-header {
            display: flex;
            justify-content: space-between;
            width: 100%;

            h1 {
                font-size: 18px;
                font-weight: 400;
                line-height: 21.78px;
            }

            .logos {
                display: flex;
                justify-content: flex-end;
                gap: 6px;
                width: 80px;

                i {
                    width: 20px;

                    img {
                        width: 20px;
                        height: 20px;
                        object-fit: contain;
                    }
                }


            }
        }

        .info-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info-section {
                display: flex;
                flex-direction: column;
                gap: 5px;

                h2 {
                    font-size: 14px;
                    font-weight: 300;
                }

                h3 {
                    font-size: 12px;
                    font-weight: 300;

                }
            }
        }

        .cuisine-txt {
            font-size: 10px;
            font-weight: 200;
            margin-top: 8px;
        }

        .link-txt {
            display: flex;
            gap: 2px;
            align-items: center;

            p {
                font-size: 12px;
                font-style: italic;
                font-weight: 700;
                
            }

            .right-arrow {
                width: 12px;
                height: 12px;

                img {
                    width: 12px;
                    height: 12px;
                }
            }
        }

    }
}