* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.fallback-spinner {
  width: 100vw;
  height: 100vh;
  background-color: #151515;
}
